---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}

  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    {% include slider_scripts.html %}
    
<!--       Default Statcounter code for Personal Website https://rmcglass.github.io/
    -->
    <!-- Default Statcounter code for Personal Website https://colinhamill.github.io
-->
    <script type="text/javascript">
    var sc_project=13019798; 
    var sc_invisible=1; 
    var sc_security="4170ffbd"; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="web stats"
    href="https://statcounter.com/" target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/13019798/0/4170ffbd/1/" alt="web stats"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>  
    <!-- End of Statcounter Code -->
    <!-- statcounter code here -->
    
    <!-- End of Statcounter Code -->
  </body>
</html>
